pip==22.3.1
zipfile
os
telethon
kvsqlite
asyncio
re
json
shutil
plugins
messages
get_gift
datetime
random
time
base64
ipaddress
struct
pathlib
typing
aiosqlite
opentele.api
secrets
pyrogram.client
pyrogram.session.internals.data_center
pyrogram
pandas
matplotlib
sqlalchemy
tkinter
requests
